@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.ali{
    background-color: #29CA4A;
    background: #29CA4A;
}
.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.Box_latest_courses {
    width: 370px;
    border-radius: 5% !important;
   

    height: 290px;
    background-color: #eee;
    cursor: pointer;
    box-shadow: 0 0 19px rgb(168 172 185 / 30%);
    transition: all .3s ease;
  
}


.Box_latest_courses img {
    width: 100%;
    opacity: 1;
   
}


.Box_latest_courses p {
    margin-top: 5px !important;
    margin-right: 10px !important; 
}
.Box_latest_courses  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.Box_latest_courses:hover  {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
    z-index: 2;
}
.text_star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    position: relative;
    bottom: 28px;
    padding: 0 12px;
}

.right_text_star {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_text_star i {
    font-size: 15px;
    color: #6C757D;
}

.right_text_star p {
    color: #6C757D;
    font-size: 14px;
}

.left_text_star {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_text_star i {
    color: #f39c12;
}
.imgcourse{
    border-top-left-radius: 4% !important;
    border-top-right-radius: 4% !important;


}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
    
    background-color: #F6F7FA;
    position: relative;
    bottom: 17px;
    margin-bottom: 20px;
}

.right_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_bottom i {
    color: #6C757D;
}

.right_bottom p {
    color: #6C757D;
}

.left_bottom {
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
}

.price_box_last_courses {
    color: #6C757D;
    opacity: .8;
    direction: rtl;
    text-decoration: line-through;
}

.last_price_box_last_courses {
    color: #29CA4A;
    direction: rtl;
    font-family: 'tanha' !important;

}

#icon_play {
    display: none;
}

.Box_latest_courses:hover #icon_play {
    display: inline;
    animation: fadeInUp 1s;
}

@media screen and (max-width : 1250px) {
    .Box_latest_courses {
        width: 420px;
    }
    .bottom {
        margin-top: -6px;
    }
}

@media screen and (max-width : 950px) {
    .Box_latest_courses {
        width: 370px;
        margin-right: 0px ;

    }
    .bottom {
        margin-top: 0;
    }
}

@media screen and (max-width : 850px) {
    .Box_latest_courses {
        width: 320px !important;
        margin-right: 0px ;

    }
}

@media screen and (max-width : 700px) {
    .Box_latest_courses {
        width: 430px !important;
        margin-right: 0px !important ;
        margin-left: 0px !important;

    }
    .bottom {
        margin-top: -12px;
    }
}

@media only screen and (max-width: 480px) {
    .Box_latest_courses {
        width: 370px !important;
        height: 290px !important;
        background-color: #eee;
        cursor: pointer;
        box-shadow: 0 0 19px rgb(168 172 185 / 30%);
        transition: all .3s ease;
      margin-right: 15px  !important;
      margin-left: 15px  !important;

    }
    .Box_latest_courses:hover  {
        -webkit-transform: scale(1.1);
        transform: scale(1.0);
        z-index: 0;
    }


          }