@import url('https://fonts.googleapis.com/css?family=Exo:400,700');






.context {
    width: 100%;
    top:50vh;
    text-align: center;
    justify-content: center;
    font-family: 'tanha';
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'tanha';

}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #090910, #07080e);  
    width: 100%;
    height:50vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(6, 212, 20, 0.866);
    animation: animate 15s linear infinite;
    bottom: -150px;
    text-align: center;
    align-items: center;
    padding: 20px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    text-align: center;
}


.circles li:nth-child(2){
    left: 30%;
    background-color: rgb(14, 184, 222);
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 12s;
    text-align: center;
}

.circles li:nth-child(3){
    left: 70%;
    background-color: #07080e;
    width: 40px;
    height: 40px;
    padding: 20px;
    animation-delay: 4s;
    border-radius: 50%;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.artticel_title{
    font-family: 'tanha' !important;
    width: 200px;
border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card_articel{
    margin: 5px;
    border-style: none;
   
}

.card_img{
    object-fit: none !important;
    height: auto !important;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media only screen and (max-width: 480px) {
    .artticel_title{
        font-family: 'tanha' !important;
        width: 100% ;
    border-radius: 10px;
        text-align: center;
        padding: 5px !important;
        margin: 5px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
          }