.course_bg{
    /* background: #4CA1AF;  
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF); */
/* background: linear-gradient(to right, #C4E0E5, #4CA1AF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
bottom: 50px;
}


.btnarticel{
    font-family: 'tanha' !important;
}



.alal{
    /* borderRadius:"7px",margin:"20px",padding:"20px" */
    /* From https://css.glass */
border-radius: 7px !important;
margin: 20px;
padding: 20px;
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.alal h3{

    text-decoration: none;
    
    
        }



        .boxContainerDrft{
            border-radius: 7px !important;
            padding: 3px;
            /* style={{background:'#ffff',borderRadius:"7px",padding:"3px"}} */
        }

@media only screen and (max-width: 480px) {
  
    .alal{
        /* borderRadius:"7px",margin:"20px",padding:"20px" */
        /* From https://css.glass */
    border-radius: 7px !important;
    margin: 0px;
    padding: 0px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .alal h3{
font-size: medium;
font-family: "tanha";
text-decoration: none;


    }
    .btnarticel{
        font-family: 'tanha' !important;
    }
    


              }