.containerScrool{

  direction: ltr;

padding: 5px !important;
}
.containerScrool p{
  
    text-align: center;
    display: flex;
    justify-content: center;
    direction: rtl !important;
}

.containerScrool h4{
    text-align: center;
    display: flex;
    justify-content: center;
    direction: rtl !important;
}