/* * {
    box-sizing: border-box;
  }
  body {
    background: #ddffee;
  } */
  .coments-h1 {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translatex(-350px);
    margin-bottom: 20px;
    text-shadow: 2px 1px #aaaaaa;
  }
  .wrapper1 {
    text-align: center;
    width: 700px;
    padding: 20px 40px 20px 0px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #777777;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #777777;
  }
  ul.twocolumn,
  ol.twocolumn {
    -moz-column-count: 1;
    -moz-column-gap: 5px;
    -ms-column-count: 1;
    -ms-column-gap: 5px;
    -webkit-column-count: 1;
    -webkit-column-gap: 5px;
    column-count: 1;
    column-gap: 5px;
    color: #cccccc;
    list-style-position: inside;
    text-align: center;
  }
  .li-comments .hide-list {
    height: 0px;
    overflow: hidden;
    text-align: center;
  }
  .li-comments {
    padding: 10px 10px 0 10px;
    margin: 10px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 1px 1px 8px #777777;
    overflow: hidden;
    text-align: center;
  }
  h3 {
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
    color: #000000;
    
  }
  .p-comments {
    margin: -15px 0 0 46px;
    color: #555555;
    text-align: justify;
  }
  .li-comments .fas.fa-user-circle {
    font-size: 36px;
  }
  .p-comments .fas.fa-heart {
    padding: 5px 10px 5px 192px;
    margin: 20px 0 0 -60px;
    color: #ffffff;
    font-size: 16px;
    word-wrap: normal;
    background: #cccccc;
    border-top: 1px solid #000000;
  }
  .p-comments .fas.fa-comment-alt {
    padding: 5px 75px 5px 75px;
    margin: 20px 0 0 -4px;
    color: #ffffff;
    font-size: 16px;
    word-wrap: normal;
    background: #cccccc;
    border-top: 1px solid #000000;
  }
  .p-comments .fas.fa-eye {
    padding: 5px 193px 5px 10px;
    margin: 20px -60px 0 0px;
    color: #ffffff;
    font-size: 16px;
    word-wrap: normal;
    background: #cccccc;
    border-top: 1px solid #000000;
  }
  .reply {
    display: block;
    width: 80%;
    margin-left:-60px;
    padding: 1px 0 1px 10px;
    color: #0000ff;
    background-color: #cccccc;
    cursor: pointer;
  }
 
  
  .listauto{
    height: auto;
  }
  .listauto-none{
    height: 0px;
  }